body {
    /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font
     */
    font: 100%/1.5 system-ui;
   }

label, input, textarea {
	/* Make these elements behave like block elements,
	   i.e. occupy the whole available width and create line breaks before and after
	 */
	display: block;
}

label {
	/* Add some space before each label that grows as the font size grows */
	margin-top: 1em;
}

input, textarea {
	/* Because form fields are special,
	   they also need `width: 100%`
	   to actually fill the whole available width.
	 */
	width: 35%;

	/* Special sizing mode that makes the element’s width
	   include internal spacing (padding) and borders
	 */
	box-sizing: border-box;

	/* Use the same font and font metrics as the rest of the page */
	font: inherit;
}

nav {
    display: flex;
    height: 50px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: -8px;
    background-color: #ffb300;
}

.nav-button:hover {
    background-color: #ffcc00;
}

.nav-button a {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}

.nav-button p {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

#content {
    display: flex;
}


#selfie {
    width: 100%;
    height: 100%;
    float: right;
    border-radius: 5%;
    margin-right: 5%;
    margin-left: 3%;
}

   